---
http_interactions:
- request:
    method: post
    uri: http://www.fipe.org.br/IndicesConsulta-ConsultarValorComTodosParametros
    body:
      encoding: US-ASCII
      string: codigoTabelaReferencia=176&codigoMarca=2&codigoModelo=4564&codigoTipoVeiculo=1&anoModelo=2012&codigoTipoCombustivel=3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Valor":"R$ 106.860,00","Marca":"Agrale","Modelo":"MARRUÁ AM 100 2.8  CS
        TDI Diesel","AnoModelo":2012,"Combustivel":"Diesel","CodigoFipe":"060003-2  ","MesReferencia":"março
        de 2015 ","Autenticacao":"gcmcnnkn3gcl1","TipoVeiculo":1,"SiglaCombustivel":"D","DataConsulta":"quinta-feira,
        24 de setembro de 2015 11:33:14"}'
  recorded_at: Thu, 24 Sep 2015 14:33:14 GMT
recorded_with: VCR 2.9.3
