---
http_interactions:
- request:
    method: post
    uri: http://www.fipe.org.br/IndicesConsulta-ConsultarModelos
    body:
      encoding: US-ASCII
      string: codigoTabelaReferencia=182&codigoTipoVeiculo=1&codigoMarca=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Modelos":[{"Label":"Integra GS 1.8","Value":1},{"Label":"Legend 3.2/3.5","Value":2},{"Label":"NSX
        3.0","Value":3}],"Anos":[{"Label":"1998 Gasolina","Value":"1998-1"},{"Label":"1997
        Gasolina","Value":"1997-1"},{"Label":"1996 Gasolina","Value":"1996-1"},{"Label":"1995
        Gasolina","Value":"1995-1"},{"Label":"1994 Gasolina","Value":"1994-1"},{"Label":"1993
        Gasolina","Value":"1993-1"},{"Label":"1992 Gasolina","Value":"1992-1"},{"Label":"1991
        Gasolina","Value":"1991-1"}]}'
  recorded_at: Thu, 10 Sep 2015 21:26:17 GMT
[...]
